body {
  font-family: "Lato", "Noto Sans Devanagari", sans-serif;
  font-size: 15.8px;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  line-height: 1.8;
  -moz-osx-font-smoothing: grayscale;
  overflow-wrap: break-word;
  color: #3e4939;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "edensor", "Noto Sans Devanagari" !important;
}

section {
  width: auto;
}

.nav_background .navbar-brand img {
  max-width: 100%;
  width: 60%;
}

.nav_background .bg-light {
  height: 15%;
  background: #ffffff !important;
  position: absolute;
  padding: 6px 0;
  /* border-bottom: 1px solid #ffffff1a; */
  width: 100%;
  z-index: 999;
  /*background-image: linear-gradient(to right, #2d5f8c 30%, #192942 90%);*/
}

.nav_background .navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: #fff;
}

.nav_background .navbar-light .navbar-nav .nav-link {
  color: #3e4939;
  text-align: center;
  font-family: Lato, "Noto Sans Devanagari";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.nav_background .navbar-light .navbar-nav .nav-link:hover {
  color: burlywood;
  transition: ease-in-out 0.4s;
}

.nav_background .navbar-light .navbar-nav .nav-link i {
  font-size: 20px;
}

.nav_background .nav-link,
.navbar {
  padding: 0.5rem 1rem;
}

footer {
  /* background: #1b1b27; */
  background-image: url("../images/footerimg.png") !important;
  padding: 0.5em 0;
  border-top: 6px solid #383842;
  float: left;
  width: 100%;
}

.footer-showcase {
  font-size: 45px;
  margin: 0;
  font-family: "Edensor", "Noto Sans Devanagari", sans-serif !important;
  color: #aea17e;
}

footer .logo_bottom img {
  width: 60%;
  max-width: 100%;
}

footer .logo_bottom p {
  color: #cacaca;
  font-size: 14px;
  width: 100%;
  text-align: center;
}

.social_icon ul {
  margin: 0px;
  padding: 0px;
}

.social_icon ul li {
  display: inline-block;
}

.social_icon ul li a {
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 17px;
  margin-right: 4px;
}

.social_icon ul li a i {
  width: 35px;
  height: 35px;
  line-height: 33px;
  border: solid 1px #fff;
  border-radius: 100px;
  text-align: center;
}

.social_icon ul li a i:hover {
  background: #55ad55;
  border-color: #55ad55;
  color: #fff;
  transition: linear all 0.3s;
}

footer h4 {
  text-align: left;
  color: #fff;
  margin-bottom: 0.8em;
}

.social_link ul {
  margin: 0px;
  padding: 0px;
}

.social_link ul li {
  display: block;
}

.social_link ul li a {
  text-decoration: none;
  display: block;
  color: #cacaca;
  padding: 3px 0;
  font-size: 14px;
  width: 95%;
}

footer .contact {
  color: #cacaca;
  font-size: 14px;
  position: relative;
  padding-left: 25px;
}

footer .contact a {
  color: #c1c1c1;
}

footer span {
  color: #fff;
  font-size: 16px;
  position: absolute;
}

footer .border-right {
  border-color: #ffffff12 !important;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.hero-section {
  width: 100%;
  height: 100%;
}

.hero-head {
  font-family: "Edensor", "Noto Sans Devanagari", sans-serif !important;
  color: rgba(62, 73, 57, 0.9);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 120px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  margin-left: 75px;
  background-color: #ffffffa3;
  padding: 10px 25px;
  border-radius: 20px;
}

.hero-heading {
  position: absolute;
  margin-top: 75px;
}

.img-container {
  display: flex;
  justify-content: space-between;
}

.book_img {
  width: 18%;
  float: left;
  position: absolute;
  top: 97%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.book_img img {
  width: 100%;
}

.chapter_main {
  width: 100%;
  padding-top: 5em;
}

.chapter_head {
  width: 100%;
}

.chapter_head p {
  text-align: center;
  padding: 1em 0em;
  font-size: 24px;
  color: #bd003c;
  letter-spacing: 1px;
  position: relative;
}

.chapter_head p::after {
  content: "";
  width: 15%;
  height: 2px;
  background-color: #bd003c;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 50%;
  margin-top: 18px;
}

.chapter_container {
  display: flex; 
  flex-wrap: wrap; 
  justify-content: center;
}

.chapter {
  width: 147px;
  overflow: hidden;
  border: 1px solid #928c8c;
  position: relative;
  transform: rotate(45deg);
  height: 147px;
  border-radius: 15px;
  margin: 61px 42px;
  float: left;
  cursor: pointer;
}

.chapter_img {
  width: 336px;
  float: left;
  transform: rotate(-45deg);
  position: absolute;
  top: -29px;
  left: -69px;
}

.chapter_img img {
  width: 100%;
}

.chapter_num {
  position: absolute;
  background-color: #352c2cad;
  width: 258px;
  transform: rotate(-46deg);
  top: 36%;
  left: -41%;
}

.chapter_num p {
  color: #fff;
  text-align: center;
  font-size: 24px;
  line-height: 18px;
  padding-top: 11px;
  padding-left: 2em;
  padding-right: 2em;
}

.shlok {
  width: 100%;
  float: left;
  display: none;
  padding-top: 3em;
}

.shlok_main {
  width: 100%;
  float: left;
}

.shlok_head {
  position: relative;
}

.back_chapter {
  text-decoration: underline;
  color: #bd003c;
  cursor: pointer;
  padding-left: 5%;
}

.shlok_head p {
  text-align: center;
  padding: 1em 0em;
  font-size: 24px;
  color: #bd003c;
  font-weight: 500;
  letter-spacing: 1px;
  position: relative;
}

.shlok_head p::after {
  content: "";
  width: 9%;
  height: 2px;
  background-color: #bd003c;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 50%;
  margin-top: 18px;
}

.shlok_sort {
  width: 100%;
  float: left;
  position: relative;
}

.shlok_h {
  width: 50%;
  float: left;
}

.shlok_sort::before {
  content: "";
  width: 90%;
  height: 1px;
  background-color: #bd003c;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  margin-bottom: 18px;
}

.shlok_sort::after {
  content: "";
  width: 90%;
  height: 1px;
  background-color: #bd003c;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 50%;
  margin-top: 18px;
}

.chapter_sort {
  float: left;
  width: 50%;
  margin-top: 14px;
}

.shlok_h p {
  padding: 1em 7em;
  color: #bd003c;
  letter-spacing: 1px;
  font-size: 15px;
}

.select_chap {
  float: left;
  padding-right: 1em;
  color: #bd003c;
  padding-left: 13em;
  width: 100%;
}

.select_chap p {
  width: 18%;
  float: left;
}

.select_chap label {
  width: 42%;
  float: left;
  background-color: #bd003c;
  cursor: pointer;
}

.select_chap select {
  font-size: 14px;
  padding: 3px;
  width: 74%;
  float: left;
  background-color: #bd003c;
  border: 1px solid #bd003c;
  color: #fff;
  outline: none;
}

.error_box_shlok {
  font-size: 20px;
  background-color: #e5e5e5;
  padding: 5em 5em;
  z-index: 9999;
  display: block;
  text-align: center;
  width: 80%;
  margin: auto;
  padding: 1em 0em;
  margin-top: 5em;
  display: none;
}

.shlok_container {
  width: 100%;
  float: left;
  position: relative;
  min-height: 20em;
}

.shlok_area {
  width: 100%;
  float: left;
  margin-top: 2em;
  margin-bottom: 2em;
}

.shlok_other {
  width: 100%;
  float: left;
  display: none;
  position: absolute;
  top: 0px;
}

.shlok-loader {
  width: 100%;
  float: left;
  display: block;
  position: absolute;
  height: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.shlok_img {
  width: 12%;
  float: left;
  margin-left: 6.5%;
  position: relative;
  cursor: pointer;
}

.shlok_img img {
  width: 100%;
}

.shlok_num {
  position: absolute;
  background-color: #3c343482;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 78%;
  height: 68%;
}

.shlok_num p {
  color: #fff;
  font-size: 23px;
  position: absolute;
  top: 32%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.shlok_play {
  width: 23%;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.error_box {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  background-color: #e5e5e5;
  padding: 5em 5em;
  z-index: 9999;
  display: none;
}

.click-loader {
  width: 100%;
  float: left;
  display: block;
  position: absolute;
  top: 50%;
  left: 48%;
  transform: translate(-50%, -50%);
}

.loader {
  border: 4px solid #173b42;
  border-radius: 50%;
  border-top: 4px solid #909fa2;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-top: 2%;
  z-index: 999;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.lyrics-bg {
  width: 100%;
  float: left;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  background-color: #fad4b3;
}

.lyrics_box_contral {
  width: 100%;
  float: left;
  /* position: initial !important; */
}

.lyrics_pro {
  width: 100%;
  float: left;
}

.lyrics_pro img {
  float: right;
  width: 4%;
  margin: 1% 5% 0% 0%;
  cursor: pointer;
}

.lyrics_pad {
  padding: 1em 4em;
}

.lyrics {
  font-size: 17px;
  background-color: #fad4b3ed;
  border-radius: 20px;
}

.lyrics {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  float: left;
  height: auto;
  min-height: 200px;
  border-radius: 11px;
}

.lyrics:hover {
  background-color: rgba(0, 0, 0, 0);
  box-shadow: rgba(12, 12, 12, 0.6) 0px 1px 10px 0px;
}

.inner_background_pop {
  padding: 0px;
  width: 100%;
}

.verse_popup {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 9999;
  display: none;
}

.deliveryOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.lyrics_popup {
  /* display:none; */
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.verse_pop_close {
  position: absolute;
  font-size: 35px;
  padding: 0px 30px;
  right: 0;
  cursor: pointer;
  color: #fff;
  z-index: 9999;
}

.lyrics-single {
  font-family: "Noto Sans Devanagari", Lato !important;
  padding: 6rem 0.5rem;
  overflow: auto;
  border-radius: 11px;
  padding: 1em 7em;
  max-height: 60vh;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.footer_bottom {
  background-image: url("../src/lib/assets/footerimg.png") !important;
  border-top: solid 1px #ffffff14;
  text-align: center;
  font-size: 14px;
  color: #cacaca;
}

.footer_bottom img {
  height: 100px;
  width: 100px;
}

.footer_bottom a {
  color: #68b4a9;
  text-decoration: none;
}

.footer_bottom p {
  justify-content: center;
  display: flex;
  align-items: center;
  margin: 0;
  flex-direction: column;
  font-size: 16px;
}

.footer_bottom a:hover {
  text-decoration: underline;
}

.shadow {
  box-shadow: 14px 14px 0px 0px #efe6d2;
  -webkit-box-shadow: 14px 14px 0px 0px #efe6d2;
  border-radius: 10px;
}

.inner-pad {
  padding: 8em 0 0em 0;
}

.inner_background {
  background: url(../src/lib/assets/pic1.jpg) fixed top center no-repeat;
  /* background-color: #FFFF; */
  /* padding: 8em 0 0em 0; */
  width: 100%;
  position: relative;
  float: left;
  min-height: 35em;
  padding-bottom: 0em;
}

.row {
  justify-content: center;
}

.row-r {
  flex-direction: row-reverse;
}

.inner_banner {
  width: 100%;
  position: relative;
  background: #eaeaea;
  padding: 9em 0 3em 0;
  background-image: linear-gradient(to top, #e4e4e4, #85a5a0);
}

.inner_banner .inner_text h1 {
  font-weight: bold;
  font-size: 2.3rem;
  color: #000000;
}

.inner_banner .inner_text p {
  font-size: 15px;
  color: #27363d;
}

.frame-content a:hover,
.frame-head:hover,
.frame-body:hover {
  color: burlywood;
}

/*inner pages bg*/
.border_bg {
  width: 100%;
  padding: 2em;
  /* margin-bottom: 2em; */
  /*border: 1px solid #ffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .08);
    background: #F1F0EC; */
  border-radius: 2px;
  text-align: justify;
}

.hero-container16 {
  background: url("../src/lib/assets/gita_banner.png") center center / cover;
  height: 25em;
}

.inner_head {
  font-size: 7em;
  color: #3e4939;
  padding-bottom: 10px;
  margin-bottom: -0.75em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  justify-content: center;
  display: flex;
  position: inherit;
  z-index: 1;
  background-color: #ffffffa3;
}

.border_bg h3 img {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

.height {
  height: 400px;
}

.image-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  max-width: 100%;
  margin: 0 auto;
}

.image-container img {
  max-width: 100%;
  height: 250px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.image-container img:hover {
  transform: scale(1.05);
}

a {
  text-decoration: none;
  color: #3e4939;
}

a:hover {
  color: burlywood !important;
  text-decoration: none !important;
}

.border_bg .modal-dialog {
  max-width: 800px;
  height: 100%;
}

.border_bg .mod img {
  cursor: pointer;
}
