body {
    font-family: 'Lato', 'Noto Sans Devanagari';
    font-size: 15.8px;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    line-height: 1.8;
    -moz-osx-font-smoothing: grayscale;
    overflow-wrap: break-word;
    color: #3E4939;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'edensor', 'Noto Sans Devanagari' !important;
}